/*is for components such as buttons, navbars, cards, anything that is reusable. 
Since we have a small project our component file should be manageable.
*/

/* COLORS */
$colors: (
  // DEKLARERA FLERA FÄRGER
    links: rgb(255, 255, 255),
  font: #54728c,
  border: #dcecf2,
  accent: #123859,
  font-light: lighten(#123859, 40%),
  font-dark: darken(#123859, 2%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

/* FONTS */
$rs: "Roboto Slab", serif;
$satisfy: "Satisfy", cursive;

/* MIXINS */
@mixin buttons {
  background: color(font-light);
  color: color(links);
  font-size: 1em;
  font-family: $rs;
  outline: none;
  border: none;
  padding: $paddingButton;
  border-radius: 15px;
  padding-left: $paddingMenu;
  padding-right: $paddingMenu;
  cursor: pointer;
margin-top:$paddingMenu;
  &:hover {
    background: color(font-dark);
    transition: ease-in-out 0.8s;
  }
}
/* MEDIA QUERIES */
$small: 1100px;
$xsmall: 550px;

@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}
@mixin xsmall {
  @media (max-width: #{$xsmall}) {
    @content;
  }
}
/* PADDINGS AND MARGINS */
$paddingMenu: 20px;
$paddingButton: 5px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: $satisfy;
  font-size: 2.8em;
  text-align: center;
  color: color(accent);
  @include small {
    font-size: 2em;
}
}
h2 {
  color: color(accent);
  font-family: $rs;
  font-size: 2em;
  text-align: center;
  @include small {
    font-size: 1.8em;
}
}
h3 {
  color: color(font);
  font-family: $satisfy;
  font-size: 1.8em;
  text-align: center;
  @include small {
    font-size: 1.8em;
}
}
a {
  cursor: pointer;

  &:hover {
    @if (color(font) == #54728c) {
      color: color(accent);
      transition: ease-in-out 0.2s;
    }
  }
}
p {
  color: color(font);
  font-family: $rs;
  font-size: 1em;
}
i {
  @extend p;
  &:hover {
    @if (color(font) ==#54728c) {
      color: color(accent);
      transition: ease-in-out 0.2s;
    }
  }
}
.fab {
  font-size: 1.5em;
}
@include small {
  .menu-wrapper {
    display: inline-block;
    cursor: pointer;
    z-index: 999999;
    position: fixed;
    right: 30px;
    top: 20px;
  }
  
  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: color(font);
      margin: 6px 0;
      transition: 0.4s;
  }
  /* Rotate first bar */
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
  }
  /* Fade out the second bar */
  .change .bar2 {
      opacity: 0;
  }
  /* Rotate last bar */
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
  }
  
  #logo {
      left: 8vw;
  }
  .menu {
      background: transparent;
      position: fixed;
      z-index: 1;
      font-family: 'Montserrat', sans-serif, Impact, Haettenschweiler, 'Arial';
      right: -60%;
      padding-right: 30px;
      width: 100%;
  }
  .menuActive {
      background: transparent;
      position: fixed;
      z-index: 10;
      font-family: $rs;
      right: 0;
      padding-right: 30px;
      max-width: 100%;
      width: 100%;
      height: 100vh;
      margin-top: -50px;
      background-image: image(mainbkg);
      background-size: cover;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 2em;
 
  }
  .menuActive ul li {
      text-align: center!important;
  }
  .menu ul li {
      list-style: none;
      display: block;
      background: transparent;
      float: none;
      padding-bottom: 20px;
      text-align: right;
  }
}
nav {
  z-index: 20;
  top: 0;
  position: fixed;
  max-width: 100%;
  width: 100%;
  padding-top: $paddingMenu;
  padding-bottom: $paddingMenu;
@include small {
  height: 80px;
}
}
#social {
  text-align: left;
  position: relative;
  li {
    padding-left: $paddingMenu;
  }
  @include xsmall {
    display: none;
  }
}
#mainmenu {
  float: right;
  text-align: right;
  margin-top: -30px;
  li {
    padding-right: $paddingMenu;
    font-weight: bold;
    font-family: $rs;
  }
}
#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -120px;
  @include xsmall {
    left: 20%;
    top: 58%;
  }
  #circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 270px;
  }
  img {
    vertical-align: middle;
    height: 80px;
  }
}
ul {
  display: inline;
  position: relative;
  width: 33%;
  li {
    display: inline-block;
    list-style-type: none;
    a {
      @extend p;
      text-decoration: none;
    }
    .links {
      color: color(font);
    }
  }
}
button {
  @include buttons();
}

/* Fading animation for header slideshow*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
